header h1{
	text-align: right;

}

header{
	display: block;
	background-color: yellow;
	margin: 0;
	padding:0;
}

nav ul li{
	display: inline-block;
	background-color: black;
	color: white;
}

nav{
	background-color: green;
}

footer{
	display: block;
	background-color: green;
	text-align: left;
}